<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcWebforum:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvcWebforum_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvcWebforum/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcWebforum" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Struts 2-2.5.14.1" />
          <element id="library" level="project" name="Spring MVC-4.3.18.RELEASE" />
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="Hibernate 5.3.2-5.3.2" />
          <element id="library" level="project" name="c3p0:c3p0:0.9.1.2" />
          <element id="library" level="project" name="javax.mail:mail:1.4.7" />
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="mysql:mysql-connector-java:8.0.12" />
          <element id="library" level="project" name="org.apache.struts:struts2-spring-plugin:2.5.17" />
        </element>
      </element>
    </root>
  </artifact>
</component>